<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<% if user_signed_in? and current_user.is_admin? %>
  <%= link_to 'Edit', edit_usuario_path(@usuario) %> |
  <%= link_to 'Back', usuarios_path %>
<% end %>
<br>

<h3>Pagos realizados: <%= @usuario.pagos.count %> </h3>
<h2>Realizar pago</h2>

<%= render 'pagos/form', usuario: @usuario %>
